<div id="container">

    <section class="header">
        <button mat-raised-button (click)="displayInfoBackground()">
            Etat civil et antécédents
        </button>
        <button mat-raised-button (click)="displayPediatrics()">
            Pédiatrie
        </button>
        <button mat-raised-button (click)="displayOsteopathicFollowUp()">
            Suivi osthéopathique
        </button>
        <button mat-raised-button (click)="displayConsultations()">
            Consultations
        </button>
    </section>

    <router-outlet></router-outlet>
</div>