#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 28px;

  .header {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    gap: 40px;

    .logo {
      width: 200px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    gap: 102px;
    margin: 28px 0;

    .navigation {
      width: 45%;
      min-width: initial;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}