<div id="container">

  <section class="header">
    <img src="assets/images/isostheo.svg" alt="logo-isostheo" class="logo">
    <div class="info">
      <h1>Isosthéo</h1>
      <h3>Maxence Perrier - 04/02/2023</h3>
    </div>
  </section>

  <section class="body">
    
    <div class="navigation">
      <button mat-raised-button color="primary" (click)="displayClinicalRecord()">
        Dossier clinique
        <mat-icon matSuffix>folder_shared</mat-icon>
      </button>
      <button mat-raised-button color="primary">
        Espace étudiant
        <mat-icon matSuffix>person</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="displayPatient()">
        Liste des patients
        <mat-icon>group</mat-icon>
      </button>
      <button mat-raised-button color="primary">
        Planning
        <mat-icon>calendar_today</mat-icon>
      </button>
    </div>

    <button mat-raised-button color="primary" (click)="logOut()">
      Se déconnecter
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </section>

  <router-outlet></router-outlet>

</div>