<div id="container">
    <section class="logo">
        <img src="assets/images/isostheo.svg" alt="logo-isostheo" class="logo">
    </section>

    <section>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">

            <div class="form-group">
                <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email" autocomplete="on">
                    <mat-error *ngIf="showError">Email ou mot de passe invalide</mat-error>
                    <mat-icon matSuffix>alternate_email</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'"
                        placeholder="Mot de passe" autocomplete="off">
                        <mat-error *ngIf="showError">Email ou mot de passe invalide</mat-error>
                    <mat-icon matSuffix (click)="togglePasswordVisibility()"
                        title="Afficher mot de passe">remove_red_eye</mat-icon>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit" class="login-button">S'identifier</button>
        </form>
    </section>
</div>