#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 28px;
    }

    .error {
        background-color: #f2dede;
        border: 1px solid #ebccd1;
        color: #a94442;
        padding: 15px 0;
        margin: auto;
        width: 320px;
        margin-bottom: 28px;
        border-radius: 4px;
        text-align: center;
    }

    .form {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form-group {
            margin-bottom: 24px;
            width: auto;

            .mat-mdc-form-field {
                width: 320px;
            }
        }

        .login-button {
            width: 25%;
            padding: 24px 0;
            font-size: 1rem;
        }
    }
}