<div id="container">
    <form [formGroup]="infoBackgroundForm">
        <h2>Informations personnelles</h2>
        <div class="basic-info">
            <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="firstname">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Date de naissance</mat-label>
                <input matInput formControlName="birthdate">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Status marital</mat-label>
                <input matInput formControlName="maritalStatus">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Profession</mat-label>
                <input matInput formControlName="profession">
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h2>Adresse</h2>
        <div class="location-info">
            <mat-form-field appearance="fill">
                <mat-label>Adresse</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Code postal</mat-label>
                <input matInput formControlName="zipCode">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Ville</mat-label>
                <input matInput formControlName="town">
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h2>Contact</h2>
        <div class="contact-info">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Téléhone</mat-label>
                <input matInput formControlName="phone">
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h2>Informations de santé</h2>
        <div class="health-info">
            <mat-form-field appearance="fill">
                <mat-label>Sports pratiqués</mat-label>
                <input matInput formControlName="sport">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Numéro de sécurité sociale</mat-label>
                <input matInput formControlName="socialSecurityNumber">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Médecin traitant</mat-label>
                <input matInput formControlName="doctor">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Ostéopathe traitant</mat-label>
                <input matInput formControlName="osteopath">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Découverte de la clinique</mat-label>
                <input matInput formControlName="clinicDiscovery">
            </mat-form-field>
        </div>

    </form>
</div>