#container {

    input {
        color: black;
    }

    .basic-info {
        display: flex;
        flex-direction: row;
        gap: 12px;

    }

    .location-info {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .contact-info {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .health-info {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }
}